@model Server.Controllers.RenderingModel

<div>
    <h1>Time: @Model.Time.ToLocalTime().ToLongTimeString()</h1>
    <div>Data: @Model.Data</div>
    <div>This content was rendered on the server</div>
</div>
