@model Server.Controllers.RenderingModel

<!DOCTYPE html>

<html>
<head>
    <title>Server's Index.html</title>
</head>
<body>
<div>
    <h1>Origin: @Model.Origin</h1>
    <h3>Time: @Model.Time.ToLongTimeString()</h3>
</div>
</body>
</html>